<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather app</title>
    <link rel="icon" href="/img/Lighthouse.jpg">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css">-->
    
    <link rel='stylesheet' href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this website to get your weather information!</p>
    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>

    </div>
    {{>footer}}
    <script src="./js/myApp.js"></script>
</body>
</html>